.display-3{
    margin-left: 14%;
    margin-top: 10%;
    margin-bottom: 10%;
    color: white;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 4.4px;
    text-transform: uppercase;
}

.jumbotron{
    background-color: #51493D;
}