<section class="Material-contact-section section-padding section-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                <h1 class="section-title">Nos encantaría ayudarte</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare, tortor eu tempus imperdiet,
                    turpis ex auctor leo, vitae mollis est sem a ligula. Fusce volutpat purus orci, et volutpat leo
                    eleifend in.</p>

                <div class="find-widget">
                    Compañía: <a href="https://sensowave.es/es/">Mi Granja</a>
                </div>
                <div class="find-widget">
                    Dirección: <a href="#">Carretera de la ubre, S/N</a>
                </div>
                <div class="find-widget">
                    Teléfono: <a href="#">+34 875-52-58</a>
                </div>
                <div class="find-widget">
                    Horario: <a href="#">Toda la semana: 09:30 - 22.30 PM</a>
                </div>
            </div>
            <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
                <form class="shake" role="form" method="post" id="contactForm" name="contact-form"
                    data-toggle="validator">
                    <div class="form-group label-floating">
                        <label class="control-label" for="name">Nombre</label>
                        <input class="form-control" id="name" type="text" name="name" required
                            data-error="Please enter your name">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label" for="email">Email</label>
                        <input class="form-control" id="email" type="email" name="email" required
                            data-error="Please enter your Email">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">Asunto</label>
                        <input class="form-control" id="msg_subject" type="text" name="subject" required
                            data-error="Please enter your message subject">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group label-floating">
                        <label for="message" class="control-label">Mensaje</label>
                        <textarea class="form-control" rows="3" id="message" name="message" required
                            data-error="Write your message"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-submit mt-5">
                        <button class="btn btn-common" type="" id="form-submit"><i
                                class="material-icons mdi mdi-message-outline"></i>Enviar</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>