<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Inicio</a>
                    </li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Nosotros</a>
                    </li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Contacta</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Encuéntranos</h5>
                <ul class="list-unstyled quick-links">
                    <li><i class="fa fa-angle-double-right"></i>Dirección: Carretera de la ubre, S/N</li>
                    <li><i class="fa fa-angle-double-right"></i>Teléfono: 875-52-58</li>
                    <li><i class="fa fa-angle-double-right"></i>Email: cowsme@gmail.com</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Visita nuestra granja</h5>
                <ul class="list-unstyled quick-links">
                    <p>En estas visitas explicamos a los asistentes cómo mimamos a nuestras vacas para que nos den lo
                        mejor de sí y los
                        más pequeños pueden disfrutar de la actividad estrella, dar el biberón a las terneras.</p>
                </ul>
            </div>
        </div>
        <div class="copy">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="https://www.facebook.com/digitanimal/" target="blank"><i
                                    class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/company/sensowave/"
                                target="blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <hr>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p><u>Mi Granja</u> es una marca registrada con origen en Madrid por Miguel Portero Ruiz.</p>
                    <p class="h6">© Todos los derechos reservados<a class="text-green ml-2" href="#"
                            target="_blank">MiGranja</a></p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</section>