<div class="jumbotron" id="jumbotron1">
    <h1 class="display-3">Desde 1890 cuidando de nuestro ganado</h1>
    <hr class="my-5">
    <div class="container">
        <p><strong> 1980 - </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque
            fringilla
            dui, eget suscipit nunc
            blandit maximus. Curabitur pharetra tellus aliquam nisl malesuada egestas. Fusce lobortis risus in ipsum
            imperdiet, nec placerat augue molestie. Quisque at efficitur felis, et consectetur ante. Vestibulum placerat
            quis dolor vitae tempus. Mauris porta elit quis quam accumsan bibendum feugiat quis metus. Curabitur
            interdum
            placerat tellus quis mollis. In hac habitasse platea dictumst. Maecenas ultrices, mauris ac vehicula
            molestie,
            massa mauris aliquam quam, vel hendrerit risus ipsum et mauris. Nam congue posuere risus vel suscipit. Ut
            sed
            tincidunt tortor, vitae semper orci.
            <br><br>
            <strong> 1992 - </strong>In fermentum, nibh sed placerat aliquet, elit neque pulvinar magna, eu porta ante
            odio
            et est. Maecenas
            malesuada at ex vitae viverra. Donec ullamcorper nunc sed eros fermentum, id elementum odio tristique. Sed
            mollis luctus magna. Vestibulum pellentesque dui in orci tristique, a pulvinar tellus elementum.
            Pellentesque
            posuere ante nibh. Sed iaculis, orci eu convallis dignissim, lacus enim elementum odio, id euismod tellus
            lectus
            in risus. Fusce tincidunt lorem id augue blandit, id laoreet massa imperdiet. Suspendisse ut libero vitae
            orci
            lacinia ultricies. Suspendisse eget finibus elit. Praesent in ipsum nec diam egestas imperdiet ut quis odio.
            Etiam rhoncus ornare mi. Phasellus vitae quam eros. Maecenas dolor metus, iaculis at iaculis quis, vulputate
            in
            ligula.
            <br><br>
            <strong> 2005 - </strong>Fusce egestas purus ac odio cursus, vel elementum orci luctus. Praesent a volutpat
            leo.
            Sed congue nisl quis
            nisl gravida, eget aliquet libero elementum. Donec et placerat nisi. Etiam tincidunt lectus at ex suscipit
            tempus. Proin sit amet auctor metus. Phasellus eu imperdiet justo. Sed vulputate ante id lectus euismod, non
            rutrum est vehicula. Donec sapien dolor, vehicula aliquam lacinia ac, commodo ut ipsum. Cras sollicitudin
            elit
            ut iaculis vulputate. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
            curae;
            Phasellus auctor erat leo, a tempus ante eleifend sit amet. Ut in tellus hendrerit, congue neque vitae,
            feugiat
            sem. Integer mattis mauris porta ornare posuere. Phasellus tempor accumsan lectus, id elementum magna
            lobortis
            eu.
            <br><br>
            <strong> 2015 - </strong>Mauris porta, nulla sed mollis interdum, tortor lacus dapibus metus, sit amet porta
            metus nibh non mauris. Nulla
            posuere eleifend eros, id porttitor elit. Sed tincidunt nec elit ac consectetur. Cras quis ullamcorper ante.
            Donec malesuada est quis neque commodo, sit amet laoreet dolor accumsan. Quisque ut nisl iaculis, maximus
            elit
            non, laoreet ante. Aliquam erat volutpat. Vestibulum arcu felis, finibus sit amet ante quis, tincidunt
            dictum
            nisl. Nam congue placerat suscipit. Integer eros nunc, imperdiet sed suscipit quis, congue eget metus. Etiam
            ut
            nibh sed mi lacinia iaculis ut luctus tortor. Donec mollis volutpat ultrices.
            <br><br>
            <strong> 2020 - </strong>Morbi tempus erat ut nunc dapibus, quis ullamcorper quam rhoncus. In ut varius
            nunc.
            Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla dignissim a ligula ut
            tincidunt.
            Morbi cursus sapien ac sapien hendrerit dapibus. Etiam ex turpis, feugiat sed maximus luctus, venenatis id
            odio.
            Ut tristique elit dui, sed ullamcorper lorem sagittis nec. Sed nibh ipsum, viverra ac leo vitae, porta
            dapibus
            eros. Sed in libero semper, commodo libero quis, porta magna. Nulla a dignissim purus, et scelerisque quam.
            Aliquam congue aliquet quam, ut sodales tellus pulvinar sed.
            <br><br>
        </p>
    </div>
</div>

<div class="jumbotron" id="jumbotron2">
    <h1 class="display-4">Nuestros granjeros</h1>
    <div class="row">
        <div class="col-md-3 col-sm">
            <div class="image">
                <img src="../../../assets/images/granjero1.jpg" width="280" height="270" alt="">

                <div class="caption">
                    <h5>
                        <p>Julián Campos</p>
                    </h5>

                    <p>
                        Praesent id est a orci rhoncus rutrum asellus laoreet ex sit amet tortor semper
                        consequat. Fusce sit amet
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm">
            <div class="image">
                <img src="../../../assets/images/granjero2.jpg" width="280" height="270" alt="">

                <div class="caption">
                    <h5>
                        <p>Alberto Monedero</p>
                    </h5>

                    <p>
                        Fusce sit amet nunc commodo mauris lobortis dignissim. Nam lacus auguephar etra
                        vitae tempus vel, vestib
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="image">
                <img src="../../../assets/images/granjero3.jpg" width="280" height="270" alt="">

                <div class="caption">
                    <h5>
                        <p>Jorge Toscano</p>
                    </h5>

                    <p>
                        Amet nunc commodo mauris lobortis dignissim. Nam lacus augu pharetra vitae tempus
                        vel, vestibulum vel lacu
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="image">
                <img src="../../../assets/images/granjero4.jpg" width="280" height="270" alt="">

                <div class="caption">
                    <h5>
                        <p>Abel Martínez</p>
                    </h5>

                    <p>
                        Praesent id est a orci rhoncus rutrum asellus laoreet ex sit amet tortor semper
                        consequat. Fusce sit amet
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>